*{
    margin: 0;
    padding: 0;
    color: #3d3dff;
    font-family: Roboto;
    font-size: 18px;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    list-style: none;
    transition: ease-in-out .4s;
    animation: float-in 2s;
}
body{
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

/* header section */
header{
    width: 100vw;
    background-color: #f1f1f1;
    height: 100px;
    position: fixed;
    top: 0;
    box-shadow: 1px 1px 7px #cccccc;
}
.logo-cont{
    float: left;
    border-radius: 4px;
    margin: 20px 5px;
    padding: 5px;
}
header strong{
    font-size: 200%;
    color: #6161ff;
}
header p{
    font-size: 150%;
    color: #cccccc;
    display: inline;
    text-transform: lowercase;
}
header nav{
    width: 60%;
    height: 50px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 25px auto;
    margin-left: 50px;
}
header nav ul li{
    display: inline;
    float: left;
}
header nav ul li a{
    margin: 0 30px;
    background-color: #3d3dff;
    color: #f5f5f5;
    padding: 5px 15px;
    border-radius: 4px;
    font-size: 90%;
    font-weight: 200;
}
header nav ul li a:hover{
    background-color: #f5f5f5;
    color: #3d3dff;
    font-weight: 400;
    border: 1px solid #3d3dff;
}
header nav span{
    display: none;
}
.auth{
    background-color: orange;
    font-weight: 400;
    margin: 0 5px;
}
.auth:hover{
    color: orange;
    border: 1px solid orange;
}

/* wrapper secton */
.wrapper{
    width: 90%;
    height: fit-content;
    min-height: calc(100vh - 105px);
    background-color: #fff;
    margin:105px auto 10px auto;
    border-radius: 10px;
    padding-bottom: 10px;
}
.wrapper .brand-box{
    width: 90%;
    height: 100px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 3px #cccccc;
}
@keyframes growth{
    0%{color: #cccccc;}
    100%{color: #6161ff;}
}
.wrapper .brand-box strong{
    animation: growth 2s 5s;
    font-size: 300%;
    color: #cccccc7a;
}
.wrapper .post-box{
    height: 150px;
    width: 95%;
    background: #f7f7f7;
    margin: 10px auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .post-box .title-box{
    width: 30%;
    height: 70%;
    background-color: #f1f1f1;
    align-content: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.wrapper .post-box .title-box li{
    display: inline;
}
.wrapper .post-box .title-box li p{
    font-size: 250%;
    color: orange;
    text-transform: uppercase;
    font-weight: 700;
}
@keyframes float-in{
    0%{margin-left: -100%;}
    100%{margin-left: 0;}
}
.posts-box{
    animation: float-in 2s;
    width: 65%;
    height: 70%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post-box li{
    display: inline;
    float: left;
}
.post-box strong{
    color: #cccccc;
    font-size: 120%;
}
.post-box p{
    font-weight: 500;
    display: inline;
    color: orange;
    margin: 0 5px;
}
/* tablet design */

@media only screen and (max-width:1024px){
    *{
        font-size: 20px;
    }
    header{
        height: fit-content;
    }
    header strong{
        font-size: 200%;
    }
    header p{
        font-size: 150%;
    }
    header nav{
        width: 70%;
        height: 50px;
        float: left;
        margin: 2px auto;
    }
    header nav ul li{
        display: inline;
        float: left;
    }
    header nav ul li a{
        margin: 0 25px;
        font-size: 120%;
        font-weight: 400;
    }
    .wrapper .brand-box{
        width: 100%;
        margin-top: 200px;
    }
    .wrapper .post-box{
        height: 150px;
        width: 100%;
    }
    .wrapper .post-box .title-box li p{
        font-size: 200%;
    }
    .post-box{
        display: inline;
        text-align: center;
    }
}


/* mobile design */
@media only screen and (max-width:763px){
    *{
        font-size: 12px;
    }
    header{
        height: fit-content;
        max-height: 500px;
        position: fixed;
        top: 0;
    }
    header strong{
        font-size: 250%;
    }
    header p{
        font-size: 200%;
    }
    header nav{
        width: -moz-fit-content;
        width: fit-content;
        height: fit-content;
        display: flex;
        margin: 10px 0;
        margin-left: 0;
        float: left;
    }
    header nav ul li{
        display: inline-block;
    }
    header nav ul li a{
        margin: 0 15px;
        padding: 5px 10px;
        font-size: 105%;
        font-weight: 400;
        display: none;
    }
    @keyframes glow {
        0%{box-shadow: none;}
        100%{box-shadow: 1px 1px 7px orange;}
    }
    header nav span{
        animation: glow 2s infinite;
        color: orange;
        border: 1px solid;
        border-radius: 4px;
        padding: 5px;
        display: inline;
        margin-top: 30px;
        margin-left: 30px;
        font-size: 110%;
    }
    .wrapper{
        width: 100%;
        height: fit-content;
        min-height: calc(100vh - 105px);
    }
    .wrapper .brand-box{
        width: 100%;
        height: 50px;
        margin-top: 120px ;
    }
    .wrapper .brand-box strong{
        font-size: 200%;
    }
    .wrapper .post-box .title-box li p{
        font-size: 200%;
    }
    .posts-box{
        display: inline;
        padding: 20px;
    }
    .post-box{
        height: fit-content;
    }
}